<!-- /user/login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link  href="/login.css"  type="text/css"  rel="stylesheet">
</head>
<body>
    <main id="main-holder">
        <h1 id="login-header">LOGIN</h1>
        <p class="sign" align="center">정보를 입력하세요.</p>

        <form method="post" id="login-form" action="/user/login">
                <input id="username-field" type="text" name="userid" placeholder="ID" autocomplete="off" required>
                <input id="password-field" type="password" name="userpw" placeholder="PASSWORD" autocomplete="off" required>
                <input id="login-form-submit" type="submit" value="완료">
        </form>
    </main>
</body>
</html>